/* Custom properties */
:root {
  /* colors */
  --clr-link-primary: hsl(51 100% 49%);
  --clr-link-secondary: hsl(7 99% 70%);
  --clr-white: hsl(0 0% 100%);

  --clr-graphic-design-text: rgb(17, 18, 17);
  --clr-photo-text: hsl(198 62% 26%);
  --clr-footer: hsl(168 34% 41%);

  --clr-neutral-deep: hsl(212 27% 19%);
  --clr-neutral-dark: hsl(213 9% 39%);
  --clr-neutral-medium: hsl(232 10% 55%);
  --clr-neutral-light: hsl(210 4% 67%);

  /* font-size */
  --fs-900: 3.5rem;
  --fs-700: 2rem;
  --fs-400: 1.125rem;

  /* font-families */
  --ff-sans-serif: "Barlow", sans-serif;
  --ff-serif: "Fraunces", serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h3,
h4,
p {
  margin: 0;
}

h1,
h3,
h4 {
  font-family: var(--ff-serif);
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100vh;
}

/* Utility classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 90rem;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
  font-weight: 900;
}

.fs-700 {
  font-size: var(--fs-700);
  font-weight: 700;
}

.fs-400 {
  font-size: var(--fs-400);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

/* Components */

.hero-image {
  background-image: url(./images/mobile/image-header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (min-width: 35rem) {
  .hero-image {
    background-image: url(./images/desktop/image-header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title {
    padding-top: 1.5em;
    font-size: var(--fs-900);
  }
}

.primary-header {
  padding: 2em;
  justify-content: space-between;
}

.navigation {
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  color: var(--clr-white);
}

.title {
  color: var(--clr-white);
  text-align: center;
}

.arrow-image {
  margin-top: 5em;
  margin-inline: auto;
}
